/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

 
.center {
    padding: 100px 0;
    margin: auto;
    width: 50%;
    border: 3px ;
    text-align: center;

}

.right {
    float: right;
    
    padding-right: 20px;
    padding-top: 0px;
}

.notification-class{
    background-color:  #F8E6AE;
    padding-left: 20px;

}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container i {
  float: left;
  max-width: 60px;
  width: 100%;
  /*margin-right: 20px;*/
  border-radius: 50%;
}

/* Style the right image */
.container i.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}